<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

<!--1.注解驱动-->

    <mvc:annotation-driven/>

<!--2.静态资源过滤-->
    <mvc:default-servlet-handler/>
<!--3.扫描包:controller-->
    <context:component-scan base-package="com.zsj.controller"/>
    <!--4.视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- JSON乱码问题配置 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
                        <property name="failOnEmptyBeans" value="false"/>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!--拦截器配置-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--            包括这个请求下面的所有请求-->
            <mvc:mapping path="/admin_stu/**"/>
            <bean class="com.zsj.config.LoginIntercaptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <!--            包括这个请求下面的所有请求-->
            <mvc:mapping path="/tea/toaddsx"/>
            <bean class="com.zsj.config.jianliIntercaptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <!--            包括这个请求下面的所有请求-->
            <mvc:mapping path="/admin_t/**"/>
            <bean class="com.zsj.config.adminIntercaptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>